<ul class="sidebar-menu">
    <li class="active">
        <a href="/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="treeview">
        <a href="javascript:void(0)">
            <i class="fa fa-user"></i>
            <span>Accounts manage</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="/account"><i class="fa fa-angle-double-right"></i> List</a></li>
            <li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Add New</a></li>
        </ul>
    </li>

</ul>